/* ---------------- sidelayout ----------------- */

html {
    overflow-y: scroll;
    margin-left: 10%;
    margin-right: 10%;
}


#frame {
    width:62%;
    margin-right:19%;
    margin-left:19%;
    margin-top:5px;
    padding: 3px 10px 3px 10px; /* Note 0px padding right */
    border-style: solid;
    border-width: thin;
/*    border-color: #7D7D7D; */
    border-color: #5CC21D;
    min-width: 620px;
   /* max-width: 850px;*/
    background:#FFFFFF
}

/*
#topLeft
{
    position: fixed;
    top: 10px;
    left: 1%;
    width: 17%; */ 
    /*min-width: 170px;*/
    /*padding: 3px 3px 3px 3px;
    border-style: solid;
    border-width: thin;
    border-color: #989898;*/
    /*border-color: #7D7D7D;*/
    /*background: #F0EFEF
}
*/ 

/* ------------ Tekst og links ------------ */


.indholdoverskrift {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13pt;
	padding-top: 3px;
	padding-bottom: 1px;
	/*line-height: 1.5; */
	/*text-decoration: underline;  */
	margin-bottom: 0px;
}

.indholdoverskriftb {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13pt;
	padding-bottom: 1px;
	/*line-height: 1.5; */
	/*text-decoration: underline;  */
	margin-bottom: 0px;
}

.indholdtekst {
/*	color: black;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px;*/
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px; 
}

a.indholdtekst {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px; 
}

a.indholdtekst:link {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
}

a.indholdtekst:visited {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
}

a.indholdtekst:active {
	color: #7B7E81;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
}

a.indholdtekst:hover {
    color: #409040;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    }

.normal {
	color: black;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px;
}

.os1 {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24pt;
	text-decoration: none;
	border-bottom-color: #409040;
	border-bottom-style: dashed;
	border-bottom-width: 1px; 
	margin-bottom: 3px;
/*	border-bottom-color: #6EB928;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin-bottom: 0px;*/
}

a.os1:link {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.os1:visited {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.os1:active {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 24pt;
	text-decoration: none;
	margin-bottom: 0px;
}

a.os1:hover {
    color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22pt;
	text-decoration: none;
	margin-bottom: 0px;
    }


.os2 {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18pt;
	text-decoration: none;
	border-bottom-color: #409040;
	border-bottom-style: dashed;
	border-bottom-width: 1px; 
	margin-bottom: 3px;
}


.os3 {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15pt;
	/*font-style: italic;*/
	text-decoration: none;
/*	border-bottom-color: #6EB928;
	border-bottom-style: dashed;
	border-bottom-width: 1px;*/
	margin-bottom: 3px;
}

.h6 {
    color: grey;
    font-family: sans-serif;
    font-size: 13pt;
    margin-top:0;
    margin-bottom:.5rem
}

.lille {
	color: #7B7E81;
	font-family: serif;
	font-weight: normal;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px;
}

.lillebold {
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px;
}

.billedtekst {
	color: black;
	font-family: serif;
	font-weight: normal;
	font-size: 13pt;
	font-style: italic;
	margin-bottom: 0px;
	text-align: center;
}

.sti {
	color: #409040;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	/*font-style: italic;  */
	margin-bottom: 0px;  
}

.global-footer {
    margin-top:30px;
    padding:30px 0;
    color:#868e96;
    background:#f8f9fa
}

.list-unstyled { 
    padding-left:0;
    list-style:none
}

.row { 
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}

.container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.col-md-3 {
    -webkit-box-flex:0;
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%
}

/* tabeller */

.tabel {
	color: black;
	font-family: serif;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0px;
	width:95%;
}


tr.d1 td {
	background-color: #E6E5E5; color: black;
}

/* links */

a:link {
	color: #409040;
	font-family: sans-serif;
	font-size: 13pt;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #409040;
	font-family: sans-serif;
	font-size: 13pt; 
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #409040;
	font-family: sans-serif;
	font-size: 13pt;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #409040;
	font-family: sans-serif;
	font-size: 13pt;
	text-decoration: underline;
	font-weight: bold;
}


/* ------------ Billeder --------- */


.pic {
	border-width:0px;
	border-color:#cccccc;
    margin-bottom: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  width: 40%;
}

/* ------------ Bokse ------------ */


.cl { 
        color: white;                /* text color is black */ 
	font-family: sans-serif;
	font-size: 13pt;
        background: black;            /* Content, padding will be gray */
        margin: 2px 50px 2px 2px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        /* border-style: dashed;*/
        /*border-width: thin;  */      /* sets border width on all sides */
        /* border-color: white;*/
       
          }

.clroot { 
        color: red;                /* text color is black */ 
	font-size: 13pt;
	font-family: sans-serif;
        background: black;            /* Content, padding will be gray */
        margin: 2px 50px 2px 2px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        /*border-style: dashed; */
        /* border-width: thin; */       /* sets border width on all sides */
        /* border-color: red; */
       
          }

.obs { 
        color: black;                /* text color is black */ 
        background: #FFFFCC;            /* Content, padding will be gray */
	font-size: 13pt;
	font-family: sans-serif;
        margin: 2px 75px 2px 75px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: red;
          }

.tip { 
        color: black;                /* text color is black */ 
	font-size: 13pt;
	font-family: sans-serif;
        background: #FFFFCC;            /* Content, padding will be gray */
        margin: 2px 75px 2px 75px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: #A6A6A6;
	 }

.code { 
        color: black;                /* text color is black */ 
	font-size: 13pt;
	font-family: sans-serif;
        background: #DCDCDC;            /* Content, padding will be gray */
        margin: 2px 200px 2px 2px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: dashed;
        border-width: thin;        /* sets border width on all sides */
        border-color: #74BA24;
	 }


.oneclick { 
        color: black;                /* text color is black */ 
	font-size: 13pt;
	font-family: sans-serif;
        background: #FFFFCC;            /* Content, padding will be gray */
        margin: 2px 125px 2px 125px;
        padding: 6px 6px 6px 6px; /* Note 0px padding right */
        list-style: none;             /* no glyphs before a list item */
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: #A6A6A6;
          }
